.navbar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  top: 0;
  visibility: visible;
  overflow: visible;
  transition: all 0.1s ease;
  max-height: 100%;
  border-bottom: 2px solid #cfcfcfd8;
}

a {
  font-family: proxima-nova, sans-serif;
}

.navbar2__list {
  width: 100%;
  margin: 0.75rem 0;
}

.navbar2__list a {
  cursor: pointer;
}

.navbar2__listItem {
  padding: 0.5rem;
  font-size: 16px;
  letter-spacing: 2px;
}

.navbar2__listItem-selected {
  color: black;
}

.navbar2--hide {
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
}

.navbar__link--active {
  color: black;
}
@media screen and (min-width: 510px) {
  .navbar2 {
    border: 0;
  }
  .navbar2__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
