.banner__wrapper {
  background: black;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: black 1px solid;
  padding: 1rem;
  text-align: center;
  position: static;
  top: 0;
}
.banner__p {
  color: white;
  font-family: proxima-nova, sans-serif;
}
